        <div class="form-group row">
          <%= label_tag '状態', nil, class: 'col-sm-6 control-label' %>
          <div class="col-sm-6">
            <%= text_field_tag 'add_phase_spec_command[state_names][]', nil, placeholder: '作業中/完了など',class: 'form-control' %>
          </div>
        </div>
