<div class="form-group row">
  <%= label_tag '状態', nil, class: 'col-sm-6 control-label' %>
  <div class="col-sm-6">
    <%= text_field_tag "#{command_name}[state_names][]", state_name, placeholder: '作業中/完了など',class: 'form-control' %>
  </div>
</div>
