<%= render 'page_header' %>
<section class="content">
  <div class="row" style="margin: 3em auto;">
    <%= link_to '最初のフェーズを追加する',
      new_phase_spec_adding_url(project_id_str: @board.project_id_str),
      remote: true,
      data: { toggle: 'modal', target: '#modal-window' },
      class: 'btn btn-primary btn-lg', type: 'button' %>
  </div>
  <!-- modal window -->
  <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="ModalWindow" aria-hidden="true"></div>
</section>
