<%= render 'page_header' %>
<% board_section_style = @board.header.phase_states.size >= 7 ?
  '' : " style='width: #{@board.header.phase_states.size * 180}px;'" %>
<section class="content"<%= raw(board_section_style) %>>
  <table class="kanban table">
    <%= render partial: 'board_header', locals: {
      project_id: @board.project_id,
      phases: @board.header.phases,
      phase_states: @board.header.phase_states
    } %>
    <%= render partial: 'board_body', locals: {
      phase_states: @board.header.phase_states,
      body: @board.body
    } %>
  </table>
</div>
