body {
  margin: 0;
  padding: 0;
}

.header-container {
  @include fill-parent;
  @include pad(1em 0em 0.4em 0em);

  background-color: darken($base-background-color, 8%);
  margin-bottom: 1.5em;

  header {
    @include outer-container;
  }
}

.container {
  @include outer-container;
}

.page {
  @include outer-container;

  h2 {
    @include span-columns(8);
  }

  nav {
    @include span-columns(4);
    @include omega();

    text-align: right;
  }
}
