$container-width: 90%;
$margin-top: 2em;

h1,
h2,
h3
{
  font-weight: 600;
  font-size: 1.2em;
}

.header-container {
  width: 100%;
}

.nav-wrapper {
  margin: 0 auto;
  max-width: $container-width;
}

.container {
  margin-top: $margin-top;
  max-width: $container-width;
}

section.page-header {
}

section.content {
  margin-top: $margin-top;
}
