h1 {
  font-weight: 600;
  font-size: 1.2em;
}

.header-container {
  width: 100%;
}

.nav-wrapper {
  margin: 0 auto;
  max-width: 90%;
}

.container {
  margin-top: 2em;
  max-width: 90%;
}

section.page-header {
}

section.content {
  margin-top: 2em;
}
