.board-container {
  margin: auto 0em;
  padding: auto 0em;
}

.board-page {
  @include outer-container;

  h2 {
    @include span-columns(9);
  }

  .statistics {
    @include span-columns(3);
    @include omega();

    $base-spacing: 1.5em !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    $action-color: #477dca !default;
    $stats-color: lighten($action-color, 10%);

    padding: $base-spacing / 2;

    ul {
      padding: 0;
    }

    li {
      border-right: 1px solid transparentize($base-font-color, 0.8);
      color: $stats-color;
      display: inline;
      float: left;
      font-size: 1.5em;
      line-height: 1.1em;
      padding: 0 0.7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }

    span {
      color: $base-font-color;
      display: block;
      font-size: 0.6em;
      font-weight: normal;
    }
  }
}

table.board {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-padding: 0.35em !default;

  font-size: 0.8em;

  th {
    text-align: center;
  }

  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 12%);
  $table-header-background: lighten($table-background, 10%);
  $table-padding: $base-padding $base-padding;

  border-collapse: separate;
  border-left: 0px;
  border-radius: $base-border-radius;
  border-spacing: 0;
  border: $table-border;

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0px;
      border-left: 1px solid $table-border-color;
      padding: 0.15em 0.1em;

      &:first-child {
        border-left: none;
      }
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0px;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      padding: $table-padding;

      &:first-child {
        border-left: none;
      }
    }
  }

  div.card {
    background-color: $table-header-background;
    border: 1px solid $table-border-color;
    padding: $base-padding 0.75em;
    margin-bottom: $base-padding;
    min-height: 10em;

    &:last-child {
      margin-bottom: 0em;
    }
  }
}
