<% if errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>
