<div class="header-container">
  <header>
    <h1 class="brand"><%= link_to '|---|---|---|', root_url %></h1>
    <% if project_name = content_for(:project_name) %>
      <h2><%= link_to project_name, projects_url %></h2>
    <% end -%>
  </header>
</div>
